---
import Layout from '../layouts/BaseLayout.astro';
import { Icon } from 'astro-icon'
import { getCollection } from 'astro:content';
let blogEntries = await getCollection('blog')
blogEntries = blogEntries
	.sort((a, b) => a.data.publishedDate.getTime() - b.data.publishedDate.getTime())
	.slice(0, 9)

let projectEntries = await getCollection('project')
projectEntries = projectEntries
	.sort((a, b) => a.data.priority - b.data.priority)
	.slice(0, 5)
---
<Layout title="Amy Erskine">
	 <div class="flex flex-col self-center items-center mb-4 w-full">
		 <h1 class="text-4xl md:text-5xl font-semibold mb-2">Hello
		 <div class="inline-block">
			 <Icon class="w-10 h-10 md:w-12 md:h-12 inline-block align-bottom  transition  hover:animate-spin" name="twemoji:smiling-face-with-sunglasses"></Icon>
		 </div>
		 </h1>
 
		 <span class="text-lg md:text-xl lg:text-xl w-4/5 text-center font-medium">
			 I'm Amy, a professional hobbyist based in the UK
			 <div class="inline-block">
				 <Icon class="w-[1.35rem] h-[1.35rem] md:w-[1.65rem] md:h-[1.65rem] align-bottom inline-block ml-1" name="flagpack:GB-UKM"></Icon>
			 </div>
		 </span>
	 </div>

	 <div class="flex flex-col items-center mb-16 mx-4 font-light text-md md:text-lg md:w-1/3 self-center text-center">
		<span>Most commonly, I am working on various personal projects, but also spend time
			contributing to open source. 
			<br/><br/>
			I help out over at <a class="text-sky underline" href="https://github.com/catppuccin/catppuccin">Catppuccin</a>, and help develop
			various internal and external tools for <a class="text-sky underline" href="https://github.com/TheCodingDen">The Coding Den</a>.
	 </div>

	 <main class="grid grid-cols-1 w-auto mx-8 gap-16 mb-20">
		<div>
			<h2 class="text-2xl md:text-3xl text-center font-medium mb-2">See what I've been working on</h2>
			<ul class="grid grid-cols-1 grid-flow-row gap-6 justify-items-center">
				{projectEntries.map(entry => (
					<li class="
						rounded-md bg-surface0 w-80 md:w-96 flex flex-col relative
						transition ease-in-out border-2 border-surface0 hover:-translate-y-1 hover:scale-105 hover:border-maroon duration-150
					">
					<a class="m-2" href={entry.data.repoUrl} target="_blank" >
						<div class="flex flex-row gap-2">
							<p class="text-sky">{entry.data.name}</p>
							<Icon class="h-4 w-4 text-surface2" name="mdi:external-link"/>
						</div>
					 	<p class="font-light text-sm">{entry.data.blurb}</p>
					</a>
					<a class="w-8 h-8 absolute right-1 top-1 transition ease-in-out hover:text-sky" href={`/project/${entry.slug}`}>
						<Icon  name="iconoir:post"></Icon>
					</a>
					</li>
				))}
			</ul>
		</div>

		<div>
			<h2 class="text-2xl md:text-3xl text-center font-medium mb-2">Check out my latest posts</h2>
			<ul class="grid grid-cols-1 grid-flow-row gap-6 justify-items-center">
				{blogEntries.map(entry => (
					<li class="
						rounded-md bg-surface0 w-80 md:w-96 flex flex-col relative
						transition ease-in-out bo80 md:w-order-surface0 horelativenslate-y-1 hover:scale-105 hover:border-maroon duration-150
					">
						<a class="m-2" href={`/post/${entry.slug}`} >
							<p class="text-sky" >{entry.data.title}</p>
							<p class="text-sm">Tags: {entry.data.tags.join(', ') || 'None'}</p>
							<time class="text-sm" datetime={entry.data.publishedDate.toISOString()}>
								Published on {entry.data.publishedDate.toDateString()}
							</time>	
						</a>
					</li>
				))}
			</ul>
		</div>
	</main>
</Layout>
